.container
  %h1 Liste des problèmes
  %table
    %thead
      %th ID
      %th Largeur
      %th Hauteur
    %tbody
      - @problems.each do |problem|
        %tr
          %td=problem.id
          %td=problem.width
          %td=problem.height
          %td
            %a.btn{:href => "/play/play?problem_id="+problem.id.to_s}
              Jouer
