.container
  %h1= @welcome_msg
  %p 白黒の石が置かれた囲碁の盤面の一部（まれには全部）と、手番（「白番」、「白先」もしくは「黒番」、「黒先」）が示され、どのように打てば自分の石を生きにもちこめるか、または相手の石を殺すことができるか、すなわち死活を考えるものである。いくつも詰碁を解き、パターンを覚えておけば、実戦に類似した形が生じた場合に短時間で対応できるようになる。また、読みの力を養う絶好のトレーニングともなることから、囲碁の上達には欠かせない。このため、多数の詰碁問題集が市販されている。 なお、詰碁という用語は、死活のからむ問題に用いられる。一方で、死活に関係なく、局所的な得を図るような問題は手筋問題といわれる。

  %p たとえば、黒番で黒の石を生かす問題は「黒先活（くろせんいき）」、白の石を殺す問題は「黒先白死（くろせんしろし）」という（白番の場合は、「白先活（しろせんいき）」、「白先黒死（しろせんくろし）」）。また、最善の手順を尽くすとコウになる問題もあり、それらは「黒先コウ」「白先コウ」という。詰碁の問題集では結果（たとえば「黒先コウ」）まで書いているものもあるが、「黒先」か「白先」のみが示されていることの方が多い。結果が書かれていないものでは、最善の結果になる手を答える。たとえば、黒先の問題で、白の無条件死になる手順と、コウになる手順があったとすると、無条件死の手順を示さなければ正解とならない。

  %p 白黒の石が置かれた囲碁の盤面の一部（まれには全部）と、手番（「白番」、「白先」もしくは「黒番」、「黒先」）が示され、どのように打てば自分の石を生きにもちこめるか、または相手の石を殺すことができるか、すなわち死活を考えるものである。いくつも詰碁を解き、パターンを覚えておけば、実戦に類似した形が生じた場合に短時間で対応できるようになる。また、読みの力を養う絶好のトレーニングともなることから、囲碁の上達には欠かせない。このため、多数の詰碁問題集が市販されている。 なお、詰碁という用語は、死活のからむ問題に用いられる。一方で、死活に関係なく、局所的な得を図るような問題は手筋問題といわれる。

  %p たとえば、黒番で黒の石を生かす問題は「黒先活（くろせんいき）」、白の石を殺す問題は「黒先白死（くろせんしろし）」という（白番の場合は、「白先活（しろせんいき）」、「白先黒死（しろせんくろし）」）。また、最善の手順を尽くすとコウになる問題もあり、それらは「黒先コウ」「白先コウ」という。詰碁の問題集では結果（たとえば「黒先コウ」）まで書いているものもあるが、「黒先」か「白先」のみが示されていることの方が多い。結果が書かれていないものでは、最善の結果になる手を答える。たとえば、黒先の問題で、白の無条件死になる手順と、コウになる手順があったとすると、無条件死の手順を示さなければ正解とならない。
