/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

table {
    border-spacing: 0 0;
}

.white {
    display: inline-block;
    height: 57px;
    width: 57px;
    background-image: url("white.png");
    /*background-color: #CCCCCC;*/
}

.black {
    display: inline-block;
    height: 57px;
    width: 57px;
    background-image: url("black.png");
    /*background-color: #000000;*/
}

.empty {
    display: inline-block;
    height: 57px;
    width: 57px;
    background-image: url("empty.png");
    /*background-color: #000000;*/
}
