<!DOCTYPE html>
%html
  %head
    %title= Tsumegomaker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    
  %body
    %header
      %nav
        .nav-wrapper
          %a.brand-logo{:href =>'/'}
            TsumegoMaker
          %ul#nav-mobile.right
            %li
              %a{:href =>'play'}
                Jouer
            %li
              %a{:href =>'#'}
                À propos
    %main
      =yield
    %footer.page-footer
      .footer-copyright
        .container
          Ce site a été fait en 2016 à l'ENSIIE Strasbourg par Clément Saintier et Stéphane Kastenbaum
          %a.right.grey-text.text-lighten-4{:href =>'https://github.com/Sindarus/tsumegomaker'}
            Lien GitHub du projet
  
